<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>A023D378-877C-41B1-86A4-70FA9E3E753E</string>
		<key>icon</key>
		<string>wallet</string>
		<key>sheetType</key>
		<integer>0</integer>
		<key>genreType</key>
		<integer>0</integer>
		<key>accountName</key>
		<string>現金</string>
	</dict>
	<dict>
		<key>id</key>
		<string>15EF810A-92EE-425C-8484-9F62309C2874</string>
		<key>icon</key>
		<string>money-2</string>
		<key>sheetType</key>
		<integer>0</integer>
		<key>genreType</key>
		<integer>0</integer>
		<key>accountName</key>
		<string>活存</string>
	</dict>
	<dict>
		<key>id</key>
		<string>E38831D8-C9D0-4ED5-9111-CFCA5D173270</string>
		<key>icon</key>
		<string>bank</string>
		<key>sheetType</key>
		<integer>0</integer>
		<key>genreType</key>
		<integer>0</integer>
		<key>accountName</key>
		<string>定存</string>
	</dict>
	<dict>
		<key>id</key>
		<string>356D4E28-6457-4C00-8696-71C300037CD7</string>
		<key>icon</key>
		<string>bitcoin</string>
		<key>sheetType</key>
		<integer>0</integer>
		<key>genreType</key>
		<integer>0</integer>
		<key>accountName</key>
		<string>電子貨幣</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3629DFAB-E336-4E99-A6F2-2C6D4273EC7F</string>
		<key>icon</key>
		<string>stock</string>
		<key>sheetType</key>
		<integer>0</integer>
		<key>genreType</key>
		<integer>0</integer>
		<key>accountName</key>
		<string>股票</string>
	</dict>
	<dict>
		<key>id</key>
		<string>BBF72115-BE1B-4164-AF8C-2A63C2752B12</string>
		<key>icon</key>
		<string>stock</string>
		<key>sheetType</key>
		<integer>0</integer>
		<key>genreType</key>
		<integer>0</integer>
		<key>accountName</key>
		<string>短期票券</string>
	</dict>
	<dict>
		<key>id</key>
		<string>599CF1D4-AB20-4E76-9E56-99E06C72E32E</string>
		<key>icon</key>
		<string>stock</string>
		<key>sheetType</key>
		<integer>0</integer>
		<key>genreType</key>
		<integer>0</integer>
		<key>accountName</key>
		<string>公債</string>
	</dict>
	<dict>
		<key>id</key>
		<string>D7CA8012-7FCF-41AB-BF78-474B43E5685C</string>
		<key>icon</key>
		<string>stock</string>
		<key>sheetType</key>
		<integer>0</integer>
		<key>genreType</key>
		<integer>0</integer>
		<key>accountName</key>
		<string>基金</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3B40B9B1-0A7D-474E-BF07-682304D4D183</string>
		<key>icon</key>
		<string>money-1</string>
		<key>sheetType</key>
		<integer>0</integer>
		<key>genreType</key>
		<integer>0</integer>
		<key>accountName</key>
		<string>其他</string>
	</dict>
	<dict>
		<key>id</key>
		<string>A50E218E-06EF-4B5B-932F-5C60B9005B2C</string>
		<key>icon</key>
		<string>car</string>
		<key>sheetType</key>
		<integer>0</integer>
		<key>genreType</key>
		<integer>1</integer>
		<key>accountName</key>
		<string>汽車</string>
	</dict>
	<dict>
		<key>id</key>
		<string>B21146A0-68E5-4DCE-899F-C1A01A4869FA</string>
		<key>icon</key>
		<string>loan</string>
		<key>sheetType</key>
		<integer>0</integer>
		<key>genreType</key>
		<integer>1</integer>
		<key>accountName</key>
		<string>不動產</string>
	</dict>
	<dict>
		<key>id</key>
		<string>519CAA6A-824B-4C7E-9A0D-4831188CFA16</string>
		<key>icon</key>
		<string>insurance</string>
		<key>sheetType</key>
		<integer>0</integer>
		<key>genreType</key>
		<integer>1</integer>
		<key>accountName</key>
		<string>儲蓄險</string>
	</dict>
	<dict>
		<key>id</key>
		<string>71F64807-BEF7-415A-BF0D-A23C69E63108</string>
		<key>icon</key>
		<string>credit-card</string>
		<key>sheetType</key>
		<integer>1</integer>
		<key>genreType</key>
		<integer>0</integer>
		<key>accountName</key>
		<string>信用卡</string>
	</dict>
	<dict>
		<key>id</key>
		<string>9D1CD38C-BD4B-4C1E-A10B-67405425A83A</string>
		<key>icon</key>
		<string>family</string>
		<key>sheetType</key>
		<integer>1</integer>
		<key>genreType</key>
		<integer>0</integer>
		<key>accountName</key>
		<string>孝親費</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0BC98392-00C5-411C-B405-3C62A9B92E02</string>
		<key>icon</key>
		<string>building</string>
		<key>sheetType</key>
		<integer>1</integer>
		<key>genreType</key>
		<integer>0</integer>
		<key>accountName</key>
		<string>家用開銷</string>
	</dict>
	<dict>
		<key>id</key>
		<string>B4C6F0FE-6AD1-4DE4-9875-E0DC1AE3BEF2</string>
		<key>icon</key>
		<string>rice</string>
		<key>sheetType</key>
		<integer>1</integer>
		<key>genreType</key>
		<integer>0</integer>
		<key>accountName</key>
		<string>伙食費</string>
	</dict>
	<dict>
		<key>id</key>
		<string>E1056E67-1817-4AA2-B882-9472E77BB258</string>
		<key>icon</key>
		<string>school</string>
		<key>sheetType</key>
		<integer>1</integer>
		<key>genreType</key>
		<integer>1</integer>
		<key>accountName</key>
		<string>學貸</string>
	</dict>
	<dict>
		<key>id</key>
		<string>07A46B2E-2136-4CCB-97B7-22E66EEC2983</string>
		<key>icon</key>
		<string>car</string>
		<key>sheetType</key>
		<integer>1</integer>
		<key>genreType</key>
		<integer>1</integer>
		<key>accountName</key>
		<string>車貸</string>
	</dict>
	<dict>
		<key>id</key>
		<string>171E574B-C1BA-4398-A87A-65DDC4B38AB4</string>
		<key>icon</key>
		<string>loan</string>
		<key>sheetType</key>
		<integer>1</integer>
		<key>genreType</key>
		<integer>1</integer>
		<key>accountName</key>
		<string>房貸</string>
	</dict>
	<dict>
		<key>id</key>
		<string>96431354-BA25-4A74-95B2-ED9FF9967082</string>
		<key>icon</key>
		<string>insurance</string>
		<key>sheetType</key>
		<integer>1</integer>
		<key>genreType</key>
		<integer>1</integer>
		<key>accountName</key>
		<string>保單</string>
	</dict>
</array>
</plist>
